#include <stdio.h>

int main(){

    int sayi[8];
printf("8 tane tamsayi giriniz:\n\n");
int eb=0,ek;
int temp;

for (int i = 0; i < 8; i++)
{ 
   scanf("%d",&temp);
   sayi[i]=temp;
}

for(int i=0; i<8; i++)printf("%d ",sayi[i]);


printf("");

for (int i = 0; i<7; i++){
    for (int i = 0; i < 7; i++)
    {
      
        if (sayi[i+1]>sayi[i])
        {
            eb=sayi[i+1];
            sayi[i+1]=sayi[i];
            sayi[i]=eb; 

        }
    }

        for(int i=0; i<8; i++)printf("%d ",sayi[i]);printf("\n");
}   


//for(int i=0; i<8; i++)printf("%d ",sayi[i]);
    return 0;
}
